<!DOCTYPE html>
<html>
<head>
    <title>Serveurs</title>
</head>
<body>

<h1>Choix du serveur</h1>

<p>Connecté : <%= user.username %></p>

<% guilds.forEach(guild => { %>

<div>
    <a href="/dashboard/<%= guild.id %>">
        <%= guild.name %>
    </a>
</div>

<% }) %>

</body>
</html>